
.Main{
  margin:0;
  
}
.dashboard {
    margin-top: 0px;
    padding-bottom: 50px;
  }
  .dashboard__wrapper{
    padding:15px;
    margin-top: 35px;
    margin-left:45px;
    margin-right: 45px

  }
  
.single__card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .single__card:nth-child(1) {
    background: #bd75f4
  }
  
  .single__card:nth-child(2) {
    background: #758ff4;
  }
  
  .single__card:nth-child(3) {
    background: #ee83bf;
  }
  
  .single__card:nth-child(4) {
    background: #75f4d6;
  }
  
  .single__card:nth-child(5) {
    background: #f4c675;
  }
  
  .single__card:nth-child(6) {
    background: #b2d9ff;
  }
  
  .card__content h4 {
    color: var(--heading-color);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .card__content span {
    color: var(--heading-color);
    font-size: 2rem;
  }
  
  .card__icon {
    font-size: 2rem;
    font-weight: 400 !important;
    color: rgba(255, 255, 255, 0.845);
  }
  
  .dashboard__cards {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
  }

